@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET - это бесплатная веб-среда для создания замечательных веб-сайтов и веб-приложений с использованием HTML, CSS и JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Узнать больше &raquo;</a></p>
</div>
<hr />
<div>
    <p><strong><h3>@Html.ActionLink("Учебные группы", "GoToTest")</h3></strong></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Давайте начнём</h2>
        <p>
            ASP.NET MVC дает вам мощный, основанный на шаблонах способ создания динамических веб-сайтов, 
            который обеспечивает чистое разделение проблем и дает вам полный контроль 
            над разметкой для приятного и гибкого развития.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Получите больше библиотек</h2>
        <p>NuGet - это бесплатное расширение Visual Studio, которое упрощает добавление, удаление и обновление библиотек и инструментов в проектах Visual Studio.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Веб-хостинг</h2>
        <p>Вы можете легко найти веб-хостинговую компанию, которая предлагает правильное сочетание функций и цены для ваших приложений.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Узнать больше &raquo;</a></p>
    </div>
</div>